<!DOCTYPE html>
<html>
<head>
    <title>Profesor</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Profesores tic BCN</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Información</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td><a href="{% url 'teachers_detail' teacher.id %}">Detalle</a></td>
        </tr>
        {% endfor %}
    </table><br>

    <a href="{% url 'add_teachers' %}">Agregar Profesor</a>


    <a href="{% url 'index' %}">Volver</a>
</body>
</html>